<p id="notice"><%= notice %></p>

<p>
  <strong>Cpu:</strong>
  <%= @computador.cpu %>
</p>

<p>
  <strong>:</strong>
  <%= @computador. %>
</p>

<p>
  <strong>Memoria:</strong>
  <%= @computador.memoria %>
</p>

<p>
  <strong>Disco:</strong>
  <%= @computador.disco %>
</p>

<p>
  <strong>Disco mag:</strong>
  <%= @computador.disco_mag %>
</p>

<p>
  <strong>:</strong>
  <%= @computador. %>
</p>

<%= link_to 'Edit', edit_computador_path(@computador) %> |
<%= link_to 'Back', computadors_path %>
